/********************************
Body
********************************/
#about {
  max-height: 450px;
}
.tuna {
  text-align: center;
  font-weight: bold;
  font-size: 1.25em;
}
.pickle {
  text-align:center;
  font-family: 'Arvo', sans-serif;
  margin: 0 10px 0 10px;
  color: #000;
  
  
}
body {
  background-color: #8fa3bd;
}
#profile {
  max-height: 450px; 
  max-width: 100%;
  margin: 0 auto; 
  border-radius: 100%;
}
section p {
  text-align: center;
  font-weight: 800;
}
/*********************************
Heading
*********************************/
header {
  background-color: #6c819f;
  margin: 0 0 30px 0; 
  padding-top: 5px;
  
}
h1 {
  font-family: 'Arvo', sans-serif;
  color: #712332;
  text-align: center;
}

h2 {
  font-family: 'Farsan', cursive;
  font-weight: 600;
  text-align: center;
}
/********************************
Navigation
********************************/
nav ul {
  display: block;
  text-align: center;
}
nav li {
 padding-right: 15px;
}
nav {
  background-color: #712332;
}
nav li, nav a, nav a:visited {
font-family: 'Arvo', sans-serif;
text-decoration: none;
color: white;
}
nav a.selected, nav a:hover {
  color: #d45263;
}
footer {
text-align: center;
border-top-style: solid;
border-width: 7.5px;
}
#facebook {
  padding: 10px;
 
}
#twitter {
  padding: 10px;
 /******************************
  Table
 ******************************/ 
}
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Farsan', cursive;
  color: #384047;
}

table {
  max-width: 960px;
  margin: 10px auto;
}

caption {
  font-size: 1.6em;
  font-weight: 400;
  padding: 10px 0;
  text-align: center;
  font-family: 'Arvo', cursive;
}

thead th {
  font-weight: 400;
  background: #8a97a0;
  color: #FFF;
}

tr {
  background: #f4f7f8;
  border-bottom: 1px solid #FFF;
  margin-bottom: 5px;
}

tr:nth-child(even) {
  background: #e8eeef;
}

th, td {
  text-align: left;
  padding: 20px;
  font-weight: 300;
}

tfoot tr {
  background: none;
}

tfoot td {
  padding: 10px 2px;
  font-size: 0.8em;
  font-style: italic;
  color: #8a97a0;
}
#contactP {
  text-align:center;
  font-family: 'Arvo', sans-serif;
}
.hell {
  font-size: 1.5em;
}
caption {
  color: #712332;
  font-weight:bold;
}





